<div class="container-fluid">
  <h4>Observables</h4>
  <hr>
  <h2>Observable Simple</h2>

  <button (click)="demarrer()" class="btn btn-primary">
    Démarrer
  </button>

  <div class="mt-3">
    <div class="bg-light p-3 rounded">
      <pre>{{ resultat }}</pre>
    </div>
  </div>

  <div class="mt-3">
    <div class="bg-light p-3 rounded">
      <pre>{{ resultat2 }}</pre>
    </div>
  </div>

  <div class="mt-3">
    <div class="bg-light p-3 rounded">
      <pre>{{ resultat3 }}</pre>
    </div>
  </div>
</div>